*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
}
body{
    background-color: rgb(32, 32, 32);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tuslar > button{
    color: #e3e3e3;
    background-color: black;
    font-size: 100px;
    width: 120px;
    border-radius: 15%;
}
.tuslar > button:hover{
    color:aqua
}
.tuslar > button:active{
    color:#003131;
    transform: translateY(15px);
}
.header{
    font-size: 100px;
    text-shadow: 5px 5px 5px black;
}
.header:hover{
    color: #08FF00;
}